a {
    color: black;
    margin: 10px;
    display: block;
    /* Added Block box to move links onto separate lines. */
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#image {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

/* Managed to centre images using the above CSS code. */
/* Using both left and right margins as auto, sets them to equal values, resulting in a centered image! */
/* Played with margins and padding for bullet point boxes and links */

.points {
    background-color: lightgray;
    margin-left: 100px;
    /* margin-right: 100px; */
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-right: 10px;
    border: 2px; 
    width: 400px;
}

/* Added a background colour to the lists */

.links {
    text-align: center;
}

li {
    border: 2px;
    padding: 0.5em
}
/* Added better spacing within the page for the lists */

ul {
    list-style: none;
}
/* Removed bullet points from unordered lists */