a {
    color: black;
    margin: 10px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#image {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

/* Managed to centre images using the above CSS code. */
/* Using both left and right margins as auto, sets them to equal values, resulting in a centered image! */
/* Played with margins and padding for bullet point boxes and links */

.points {
    background-color: lightgray;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px; 
}

/* Added a background colour to the lists */

.links {
    text-align: center;
}